<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<File name="mm.fritz" fileName="logs/mm.fritz/mm.fritz.log" append="false">
	      <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
		</File>
		<Console name="STDOUT" target="SYSTEM_OUT">
	      <PatternLayout pattern="%d{ISO8691} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="mm.fritz" level="debug">
			<AppenderRef ref="mm.fritz" />
		</Logger>

		<Root level="warn">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>